<div class="page-wrapper" style="display: flex; flex-direction: column; min-height: 99vh;">
  <header>
    <div style="font-family: 'UnifrakturCook', sans-serif; font-weight: 700;" routerLink="/" class="logo">Amulya Blog</div>
    <button routerLink="/create" class="btn-started">Get started</button>
  </header>
  
  
  <router-outlet></router-outlet>
  <footer style="background-color: #333; color: white; padding: 10px 0; text-align: center; margin-top: auto;">
    <nav>
      <a href="#">About</a>
      <a href="#">Help</a>
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
    </nav>
  </footer>
</div>



